body{
    font-family: 'Arial';
}
.form{
    width: 25vw;
    height: 70vh;
    margin: 0 auto;
}
/*---------------login----------------*/
.login{
    width: 100%;
    height: 80%;
    border: 1px solid gray;
}
.login img{
    width: 80%;
}
input[type=text], input[type=password]{
    width: 75%;
    padding: 3% 1%;
    margin-top: 15px;
    text-overflow: ellipsis;
}
input[type=submit]{
    width: 78%;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #6aa9dc;
    color: white;
}
.login, form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*-------------registration------------*/
.registration{
    width: 100%;
    height: 17%;
    border: 1px solid gray;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #6aa9dc;
}