@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
.flex{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 200px;
    height: 200px;
    background-color: #bb9f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RubikPixels{
    font-family: 'Rubik Pixels', cursive;
}
.SedgwickAveDisplay{
    font-family: 'Sedgwick Ave Display', cursive;
}
.DancingScript{
    font-family: 'Dancing Script', cursive;
}
.FjallaOne{
    font-family: 'Fjalla One', sans-serif;
}
.IndieFlower{
    font-family: 'Indie Flower', cursive;
}
#gold{

}